aiohttp
aiosignal
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
Bottleneck
Brotli
cached-property
certifi==2023.7.22
cffi
charset-normalizer
click==8.1.7
colorama
comm
contourpy
cycler
dataclasses
datasets==2.14.6
debugpy
decorator
defusedxml
dill
docker-pycreds==0.4.0
einops==0.7.0
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
gitdb==4.0.11
GitPython==3.1.40
gmpy2
huggingface-hub==0.18.0
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isoduration
jedi
Jinja2
joblib==1.3.2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
llvmlite==0.41.1
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
multidict
multiprocess
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
ninja==1.11.1.1
notebook_shim
numba==0.58.1
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pathtools==0.1.2
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
ply==3.11
prometheus-client
prompt-toolkit
protobuf==4.25.0
psutil
ptyprocess
pure-eval
pyarrow==13.0.0
pycparser
Pygments
pynndescent==0.5.10
pyparsing
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex==2023.10.3
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn==1.3.2
scipy==1.10.1
seaborn
Send2Trash
sentry-sdk==1.34.0
setproctitle==1.3.3
sip
six
smmap==5.0.1
sniffio
soupsieve
stack-data
sympy
tbb==2021.10.0
terminado
threadpoolctl==3.2.0
tinycss2
tokenizers==0.13.3
toml
tomli
tornado
tqdm
traitlets
transformers==4.28.0
triton==2.1.0
types-python-dateutil
typing-utils
typing_extensions
tzdata
umap-learn==0.5.4
unicodedata2
uri-template
urllib3
wandb==0.15.12
wcwidth
webcolors
webencodings
websocket-client
xxhash
yarl
zipp
